@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, 
section,
p,
span, 
svg { 
  transition: background-color 0.5s, color 0.5s;
}
svg{ fill: var(--color-text); }

html, body {
  font-family: "Montserrat", sans-serif;
}

:root {
  /* Light Theme Variables */
  --color-text-light: #35373a;
  --color-background-light:#FAF4E5;
  --color-blue-light: #B2C8DF;
  --color-green-light: #7AD0AC;
  --color-blue1-light: #8395CD;
  --color-pink-light: #e5a1aa;

  /* Dark Theme Variables */
  --color-text-dark: #FAF4E5;
  --color-background-dark:#8395CD;
}
.light-theme {
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-blue: var(--color-blue-light);
  --color-green: var(--color-green-light);
  --color-blue1: var(--color-blue1-light);
  --color-pink: var(--color-pink-light);
}

.dark-theme {
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-blue: var(--color-text-dark);
  --color-green: var(--color-text-dark);
  --color-blue1: var(--color-text-dark);
  --color-pink: var(--color-text-dark);
}

/* experience --------------------------------------------------------------*/

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

/* Page Itself --------------------------------------------------------------*/


.page {
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

/* Toggle Bar--------------------------------------------------------------*/
.toggle-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 9999999;
}

.sun-wrapper, 
.moon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  background-color: var(--color-blue);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 02) 0px 8px 24px;
}

.toggle-circle {
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle {
  transform: scale(0.9);
}

.slide {
  left: 28px;
}
/* Section Formatting --------------------------------------------------------------*/

.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--color-background);
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-blue);
  padding-bottom: 400px;
}

.section-detail-wrapper {
  position: relative;
  padding: 20% 5%;
}

.section-heading {
  font-size: 18px;
  font-weight:  700;
  line-height: 1.8;
  margin-top: 64px;
  color: var(--color-text)
}

.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color: var(--color-text)
}

/* Fancy Decoration part of section */
.section-title {
  position: relative;
  color: var(--color-blue);
}

.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(20deg);
  z-index: 5;
  text-transform: uppercase;
  color: var(--color-blue)
}

.styleOne,
.styleTwo,
.styleThree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--color-blue);
  transform-origin: left;
  transform: skewY(-20deg);
}

.styleOne {
  top: 0px;
}

.styleTwo {
  top: 80px;
}

.styleThree {
  top: 80px;
  transform: skewY(20deg);
  background-color: var(--color-blue);
}

.section-number {
  position: absolute;
  bottom: 15px;
  right: 0px;
  color: var(--color-blue);
  font-size: 24px;
}


/* Hero Section --------------------------------------------------------------*/

.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main {
  position: absolute;
  bottom: 70px;
  left: 5vw;
  color: var(--color-text)
}

.hero-second {
  position: absolute;
  top: calc(60% - 120px);
  right: 0;
  color: var(--color-text)
}

.hero-main-title {
  font-size: 38px;
  color: var(--color-text)
}

.hero-main-description {
  font-size: 16px;
  color: var(--color-text)
}

.hero-second-subheading {
  font-size: 32px;
  color: var(--color-text)
}





/* Other Color Overrides ----------------------------------------------------------------------*/
.pink-text {
  color: var(--color-pink)
}
.pink-border {
  border-color: var(--color-pink)
}
.pink-background {
  background-color: var(--color-pink)
}

.green-text {
  color: var(--color-green)
}
.green-border {
  border-color: var(--color-green)
}
.green-background {
  background-color: var(--color-green)
}

/* Media Queries ----------------------------------------------------------------------*/

@media (max-width: 968px) {
  .section {
    width: 100%;
  }
}





















/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */